{% include 'public/head.html' %}
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        {% include 'public/header.html' %}
        {% include 'public/left.html' %}
        <div class="layui-body layui-tab-content site-demo site-demo-body layui-form layui-form-pane">
            <blockquote class="layui-elem-quote">
                新增RDS：
            </blockquote>

            <div class="main">

                  <div class="layui-form-item">
                    <label class="layui-form-label">别名</label>
                    <div class="layui-input-block">
                      <input id="rds_name" type="text" name="servername" autocomplete="off" placeholder="请输入服务器别名" class="layui-input">
                    </div>
                  </div> 

                  <div class="layui-form-item">
                    <label class="layui-form-label">地区</label>
                    <div class="layui-input-block">
                      <input id="rds_city" type="text" name="servername" autocomplete="off" placeholder="请输入服务器地区" class="layui-input">
                    </div>
                  </div> 

                  <div class="layui-form-item">
                    <label class="layui-form-label">外网地址</label>
                    <div class="layui-input-block">
                      <input id="w_ip" type="text" name="servername" autocomplete="off" placeholder="请输入外网地址" class="layui-input">
                    </div>
                  </div>  

                  <div class="layui-form-item">
                    <label class="layui-form-label">内网地址</label>
                    <div class="layui-input-block">
                      <input id="n_ip" type="text" name="servername" autocomplete="off" placeholder="请输入内网地址" class="layui-input">
                    </div>
                  </div>  

                  <div class="layui-form-item">
                    <label class="layui-form-label">超级账号</label>
                    <div class="layui-input-block">
                      <input id="super_root" type="text" name="servername" autocomplete="off" placeholder="请输入超级账号" class="layui-input">
                    </div>
                  </div>  

                  <div class="layui-form-item">
                    <label class="layui-form-label">超级账号密码</label>
                    <div class="layui-input-block">
                      <input id="super_pwd" type="text" name="servername" autocomplete="off" placeholder="请输入超级账号密码" class="layui-input">
                    </div>
                  </div> 

                 <div class="layui-form-item">
                    <label class="layui-form-label">端口</label>
                    <div class="layui-input-block">
                      <input id="rds_port" type="text" name="servername" autocomplete="off" placeholder="请输入端口号" class="layui-input">
                    </div>
                  </div>  

                 <div class="layui-form-item">
                    <label class="layui-form-label">DBInstaneID</label>
                    <div class="layui-input-block">
                      <input id="DBInstaneID" type="text" name="servername" autocomplete="off" placeholder="请输入DBInstaneID" class="layui-input">
                    </div>
                  </div>  


                 <div class="layui-form-item">
                    <button id="submit" class="layui-btn" lay-submit="" lay-filter="demo2">提交</button>
                  </div>                                                                                      

            </div>

            <div class="layui-footer">
            </div>
        </div>
    </div>
</body>
{% include 'public/foot.html' %}

<script type="text/javascript">
 function tip(name){
    layer.open({
      title: '提示',
      content: name
    });     
}   
    $(function(){
        $('#submit').on('click',function(){
            var rds_name = $('#rds_name').val();
            var rds_city = $('#rds_city').val();
            var w_ip = $('#w_ip').val();
            var n_ip = $('#n_ip').val();
            var super_root = $('#super_root').val();
            var super_pwd = $('#super_pwd').val();
            var rds_port = $('#rds_port').val();
            var DBInstaneID = $('#DBInstaneID').val();
            var dataArr = ['别名','地区','外网地址','内网地址','超级账号','超级账号密码','端口号','DBInstaneID'];
            var arrIndex = ['rds_name','rds_city','w_ip','n_ip','super_root','super_pwd','rds_port','DBInstaneID'];
            var data = {'rds_name':rds_name,'rds_city':rds_city,'w_ip':w_ip,'n_ip':n_ip,'super_root':super_root,'super_pwd':super_pwd,'rds_port':rds_port,'DBInstaneID':DBInstaneID};
            for(var key in data){
                if(data[key] == ''){
                    var n = arrIndex.indexOf(key);
                    tip(dataArr[n]+'不能为空');
                    return;
                }
            }
            var loading=layer.load(1, {shade: [0.8, '#393D49']});
            $.ajax({
                url:'/add_rds_server',
                type:'POST',
                data:data,
                success:function(res){
                    console.log(res);
                    window.location.reload();
                }
            })
        })
    })
</script>








































