{% include 'public/head.html' %}
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        {% include 'public/header.html' %}
        {% include 'public/left.html' %}
        <div class="layui-body layui-tab-content site-demo site-demo-body">
            <div class="layui-form">
                <blockquote class="layui-elem-quote">
                    URL列表：
                </blockquote>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <select id="cid" data-type="reload" onchange="change()">
                            <option value="1">首页</option>
                            <option value="2">栏目页</option>
                            <option value="3">内容页</option>
                            <option value="4">其他页</option>
                        </select>
                    </div>
                    <div class="layui-inline">
                        <div class="layui-btn-group demoTable">
                            <button class="layui-btn" data-type="reload">查看</button>
                        </div>
                    </div>
                </div>

                <table id="demo" lay-filter="demo"></table>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <div class="layui-btn-group demoTable">
                            <button class="layui-btn" data-type="getCheckData">批量修改</button>



<button class="layui-btn"  data-type="getCheckDatas">清理缓存</button>



                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-footer">
{{ yuan_ip }}
        </div>
    </div>
</body>

{% include 'public/foot.html' %}
<script>



	//更新源站缓存队列
    var cache_arr=[];
    //加入请求队列
	function add_cache_arr(y_page_url,crc32,tf_block,content,yuan_ip)
	{
	        var Item = [];
	        Item[0]=y_page_url;
	        Item[1]=crc32;
	        Item[2]=tf_block;
	        Item[3]=content;
	        Item[4]=yuan_ip;
	        cache_arr.push(Item);
	        if(cache_arr.length==1)
	        {
	            Execachearr();
	        }
	}

	//执行队列里的顺序第一个的请求
	function Execachearr()
	{
	    if(cache_arr.length==0){
            layer.open({
                title: '推送结果',
                content:
                   '失败的结果（'+post_error_arr.length+'）:'+post_error_arr+'<br>'+
                   '出现的异常记录：'+yichang,
                yes: function(index, layero){
                    setTimeout("window.location.reload()",1000);
                }
            });
        }
	    if( cache_arr.length>0)
	    {
	        var ArgItem = cache_arr[0];
	        post_del_cache(ArgItem[0],ArgItem[1],ArgItem[2],ArgItem[3],ArgItem[4]);
	    }
	}


	var post_error_arr=[];
	var yichang=[];
    function post_del_cache(y_page_url,crc32,tf_block,content,yuan_ip){
	    var str1 = y_page_url;
        var reg1 = /[^\/]*\/[^\/]*\/[^\/]*\//;
        str1 = str1.replace(reg1, "c_cache/");
        var str2 = y_page_url;
        var reg2 =  /^[^\/]*\/[^\/]*\/[^\/]*\//;
        str2 = str2.match(reg2)[0];
        var cache_url=str2+str1;
	    $.ajax({
            type:'GET',
            url:'http://api.shawdo.com/api/admin/public/dataUpdate',
            dataType:'json',
            data:{url:y_page_url,crc32:crc32,bid:tf_block,bcontent:content,ip:yuan_ip},
            async: false,
            success:function(data){
                //删除CDN缓存
                $.ajax({
                    type:'GET',
                    url:'http://api.shawdo.com/api/admin/public/delJsonCache',
                    dataType:'json',
                    data:{url:y_page_url,crc32:crc32,ip:yuan_ip},
                    async: false,
                    success:function(data1){
                        if(data1.errorCode==200){
                            var index=layer.open({
                                shadeClose:true,
                                type: 2,
                                content: cache_url,
                            });
                            layer.close(index);
                            cache_arr.shift();  //移除已完成请求
                            Execachearr();//执行队列请求
                        }else if(data1.errorCode==0){
                            yichang.push(y_page_url+"删除json缓存失败");
                            post_error_arr.push(y_page_url);
                            cache_arr.shift();  //移除已完成请求
                            Execachearr();//执行队列请求
                        }
                    },error:function(jqXHR){
                        yichang.push(y_page_url+"删除json缓存请求失败");
                        post_error_arr.push(y_page_url);
                        cache_arr.shift();  //移除已完成请求
                        Execachearr();//执行队列请求
                    }
                });
                //删除CDN缓存end
            },error:function(jqXHR){
                yichang.push(y_page_url+"数据更新请求失败");
                post_error_arr.push(y_page_url);
                cache_arr.shift();  //移除已完成请求
                Execachearr();//执行队列请求
            }
        });
    }


    layui.use(['form','table'], function(){
        var table = layui.table;
        var form = layui.form;
        table.on('checkbox(demo)', function(obj){
            console.log(obj)
        });
        var $ = layui.$, active = {
            getCheckData: function(){ //获取选中数据
                var checkStatus = table.checkStatus('urllist')
                ,data = checkStatus.data;
                {#layer.alert(JSON.stringify(data));#}
                layer.open({
                    title: '在线调试',
                    area:["50%","50%"],
                    yes: function(index, layero){
                        var json_data=data;
                        for(var n_key in json_data){
                            console.log(json_data[n_key]);
                            var url=json_data[n_key]['url'];
                            var post_crc32=json_data[n_key]['crc32'];
                            var bid=$("#bid").val();
                            var bcontent=$("#bcontent").val();
                            var yuan_ip="{{ yuan_ip }}";
                            add_cache_arr(url,post_crc32,bid,bcontent,yuan_ip);
                        }
                        return false;
                    },
                    content:"<table class=\"layui-table\">\n" +
                        "    <colgroup>\n" +
                        "        <col width=\"100\">\n" +
                        "        <col>\n" +
                        "    </colgroup>\n" +
                        "    <thead>\n" +
                        "        <tr>\n" +
                        "            <th>块ID</th>\n" +
                        "            <th>内容</th>\n" +
                        "        </tr>\n" +
                        "    </thead>\n" +
                        "    <tbody>\n" +
                        "    <tr>\n" +
                        "        <td>\n" +
                        "            <select name=\"bid\" id=\"bid\">\n" +
                        "                <option value=\"1\">块1</option>\n" +
                        "                <option value=\"2\">块2</option>\n" +
                        "                <option value=\"3\">块3</option>\n" +
                        "                <option value=\"4\">块4</option>\n" +
                        "            </select>\n" +
                        "        </td>\n" +
                        "        <td>\n" +
                        "            <textarea placeholder=\"请输入内容\" class=\"layui-textarea\" id=\"bcontent\"></textarea>\n" +
                        "        </td>\n" +
                        "    </tr>\n" +
                        "    </tbody>\n" +
                        "</table>"
                });
                form.render();
            },reload: function(){ //获取选中数据
                table.reload('urllist', {
                    url: 'http://api.shawdo.com/api/admin/public/batchDataOutput',
                    method: 'POST',
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        url:"{{ param }}",
                        cid:$("#cid").val()
                    }
                });
            }
        };

                var $ = layui.$, active = {
            getCheckDatas: function(){ //获取选中数据
                var checkStatus = table.checkStatus('urllist')
                ,data = checkStatus.data;
                                     var json_data=data;
                        var queue = new Queue();

                        for(var n_key in json_data){
                            //add_cache_arr(url,post_crc32,bid,bcontent,yuan_ip);
                            queue.push(json_data[n_key]);
                        }
                       var list = queue.quere();
                        emptyarray(list);
                form.render();
            }
        };

        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
        //第一个实例
        table.render({
            elem: '#demo',
            method: 'POST',
            url: 'http://api.shawdo.com/api/admin/public/batchAllDataOutput',
            page: true,
            id: 'urllist',
            where: {
                url:"{{ param }}",
            },
            cols: [[ //表头
                {type:'checkbox', fixed: 'left'},
                {field: 'url', title: 'URL',sort: true, fixed: 'left'}
            ]]
        });
    });

    function Queue(size) {
    var list = [];

    //向队列中添加数据

    this.push = function(data) {
        if (data==null) {
            return false;
        }
        //如果传递了size参数就设置了队列的大小
        if (size != null && !isNaN(size)) {
            if (list.length == size) {
                this.pop();
            }
        }
        var one = list.unshift(data);
		//alert(one);
        return true;
    }

    //从队列中取出数据
    this.pop = function() {
        return list.pop();
    }

    //返回队列的大小
    this.size = function() {
        return list.length;
    }

    //返回队列的内容
    this.quere = function() {
        return list;
    }
}

function emptyarray(array){//判断是否继续执行
	if(array.length == 0){
		//console.log('11');
		return;
	}
	get_ip(array);
}
function get_ip(arr) {
    		$.ajax({
			'url':'/get_id_webcf',
			'type':'post',
			'data':{'id':arr[0]['id']},
			success:function(dat){
			    if(!dat[0]){
			         layer.msg('暂无源站数据');
                }else {
			            arr[0]['ip'] = dat[0]['load_balance'];
			    del_json(arr);
                }

			}
		});
}
function del_json(arr){//删除json
		$.ajax({
			'url':'http://api.shawdo.com/api/admin/PyApi/delJson',
			'type':'post',
			'data':{'dat':arr[0]},
			success:function(dat){
			    if(dat['success'] == true){
			        layer.msg("删除json");
			         del_cache(arr);
                }
                else{
                    layer.msg(dat.errorMsg);
			        //alert(dat.errorMsg);
                }

			}
		});

}
function del_cache(arr){//清理缓存
        var str1 = arr[0]['url'];
        var reg1 = /[^\/]*\/[^\/]*\/[^\/]*\//;
        str1 = str1.replace(reg1, "c_cache/");
        var str2 = arr[0]['url'];;
        var reg2 =  /^[^\/]*\/[^\/]*\/[^\/]*\//;
        str2 = str2.match(reg2)[0];
        var cache_url=str2+str1;


		$.ajax({
			'url':cache_url,
			'type':'get',
			'data':{},
			success:function(){
			    del_sql(arr);
			},

            error: function (error) {
                // alert(error.status);
                 layer.msg("缓存清理");
			     del_sql(arr);
			     //layer.msg('缓存清理失败');
                //alert('缓存清理失败');
            }
		});
}
function del_sql(arr) {//删除sql
    $.ajax({
        'url': 'http://api.shawdo.com/api/admin/PyApi/delsql',
        'type': 'post',
        'data': {'dat': arr[0]},
        success: function (dat) {
            if(dat.code == 1){
                layer.msg('清理sql');
                  arr.pop();   //从队列中取出一个
            return emptyarray(arr);
            }else{
                layer.msg(dat.msg);
                //alert(dat.msg);
            }

        }
    });
}



</script>