{% include 'public/head.html' %}
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        {% include 'public/header.html' %}
        {% include 'public/left.html' %}
        <div class="layui-body layui-tab-content site-demo site-demo-body">
            <blockquote class="layui-elem-quote">
                源站URL列表：
            </blockquote>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input type="text" id="link_url" placeholder="请输入URL" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="demoTable">
                        <button class="layui-btn" data-type="reload" id="search">查询</button>
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="demoTable">
                        <a href="/add_page" class="layui-btn layui-btn-danger">分配内链</a>
                    </div>
                </div>
            </div>
            <table id="demo" lay-filter="demo"></table>
        </div>
        <div class="layui-footer">
            <button class="layui-btn layui-btn-danger layui-btn-xs" id="getnewdata">获取网站cdn_ip</button>
        </div>
    </div>
</body>
{% include 'public/foot.html' %}
<script>

    $("#getnewdata").click(function () {
        var index=layer.load(1, {shade: [0.8, '#393D49']});
        $.ajax({
            type:'POST',
            url:'/update_cdn_ip',
            dataType:'json',
            success:function(data){
                layer.close(index);
            }
        });
    });
    layui.use(['form','table'], function(){
         var table = layui.table;
         var $ = layui.$, active = {
             reload: function(){ //获取选中数据
                 var str = $("#link_url").val()
                 var arr=str.split(' ');
                 var json = JSON.stringify(arr);
                 table.reload('olink_lists', {
                    url: '/zzl_search',
                    method: 'POST',
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        api_table_name:json
                    }

                 });
            }
        };

        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });


        //第一个实例
        table.render({
            elem: '#demo',
            method: 'post',
            url: '/olink_lists',
            page: true,
            id:'olink_lists',
            cols: [[ //表头
                {type:'checkbox', fixed: 'left'},
                {field: 'api_table_name', title: 'URL',sort: true, fixed: 'left'},
                {field: 'nums', title: '内链数',sort: true, fixed: 'left'},
                {field: 'right', title:"操作", width:300, align:'center', templet: function(d){return '<a href="/olink_edit/'+d.y_webcf_id+'" class="link layui-btn layui-btn-xs">内链管理</a>'}}
            ]]
        });
    });

</script>
