<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <ul id="ul" class="layui-nav layui-nav-tree" lay-filter="test">
            <li class="layui-nav-item layui-nav-itemed">
                <a class="" href="javascript:;">网站管理<span class="layui-nav-more"></span></a>
                <dl class="layui-nav-child">
                    <dd><a href="/">网站列表</a></dd>
                    <dd><a href="/logList">log日志列表</a></dd>
                    <dd><a href="/zzltest">增加节点</a></dd>
{#                  <dd><a href="/zzl_olink_list">服务器节点</a></dd>#}
                </dl>
            </li>

            <li class="layui-nav-item layui-nav-itemed">
                <a class="" href="javascript:;">链接管理<span class="layui-nav-more"></span></a>
                <dl class="layui-nav-child">
                    <dd><a href="/flink">友情链接</a></dd>
                    <dd><a href="/user-link-log">友情链接统计</a></dd>
                    <dd><a href="/olink_list">内部链接（手动）</a></dd>
                    <dd><a href="/olink_auto_list">内部链接（自动）</a></dd>
                </dl>
            </li>

            <li class="layui-nav-item layui-nav-itemed">
                <a class="" href="javascript:;">数据与监控<span class="layui-nav-more"></span></a>
                <dl class="layui-nav-child">
                    <dd><a href="/show_data_lists">网站数据</a></dd>
                    <dd><a href="/mon_list">监控列表</a></dd>
                    <dd><a href="/monitor">容器脚本</a></dd>
                </dl>
            </li>

            <li class="layui-nav-item layui-nav-itemed">
                <a class="" href="javascript:;">服务器管理<span class="layui-nav-more"></span></a>
                <dl class="layui-nav-child">
{#                    <dd><a href="/add_server">新增计算服务</a></dd>#}
                    <dd><a href="/add_server_list">计算服务列表</a></dd>
{#                    <dd><a href="/add_rds">新增RDS</a></dd>#}
                    <dd><a href="/rds_list">RDS列表</a></dd>
{#                    <dd><a href="/add_fuzai">新增负载均衡</a></dd>#}
                    <dd><a href="/fuzai_list">负载均衡列表</a></dd>
{#                  #}
                </dl>
            </li>




            <li class="layui-nav-item layui-nav-itemed">
                <a class="" href="javascript:;">采集/发布<span class="layui-nav-more"></span></a>
                <dl class="layui-nav-child">
                    <dd><a href="/zzl_config_list">已配置的网站列表</a></dd>
{#                    <dd><a href="/zzl_index">发布队列</a></dd>#}
                    <dd><a href="/item_list_page">项目列表</a></dd>
                </dl>
            </li>
            </li>
            <li class="layui-nav-item">
                <a class="" href="javascript:;">小工具<span class="layui-nav-more"></span></a>
                <dl class="layui-nav-child">
                    <dd><a href="/add_rds">添加数据库</a></dd>
                    <dd><a href="/batch_add_rds">批量添加数据库</a></dd>
                    <dd><a href="/task_list">计划列表</a></dd>
                    <dd><a href="/show_rds">生成地址</a></dd>
                    <dd><a href="/push_ip_pod">POD管理</a></dd>
                    <dd><a href="/add_type_name_page">添加爬取源</a></dd>
                </dl>
            </li>

        </ul>
    </div>
</div>









